/* Font  */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
/* shared styles */
*{
    margin: 0;
    padding: 0;
}
.width{
    max-width: 1600px;
    width: 1600px;
}
body{
    max-width: 1600px;
}
.display-flex{
    display: flex;
}
/* primary color FFFFFF */
.text-white{
    color: #FFFFFF;

}
/* green color 00FF88 */
.text-green{
    color: #00FF88;
}

/* hover style */
.logo,button,img, li, .feature-card, i:hover{
    cursor: pointer;

}
/* animation styles */
button{
    transition: transform 0.1s ease;

}
button:hover{
    transform: scale(1.2);
}



/* Header styles  */
/* Navbar related styles */
.navbar{
    background-color: #412567;
    height: 92px;
    justify-content: flex;
    align-items: center;
}
.navbar .logo{
    padding: 30px 0 30px 200px;


}
.menu{
    padding: 0px 314px;
}
.nav-item {
    list-style: none;
    padding-right: 32px;
    

}
.nav-link{
    text-decoration: none;
    font-weight: 500;
}
.btn{
    background: linear-gradient(47.64deg, rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1));
    border-radius: 10000px;
    padding: 12.5px 16px;
    border: 0;
    gap: 4px;
}


/* banner related styles */
.banner{
    
    height: 760px;
    background-image: url(..//assets/hero-bg.png);
}

.banner-content{
    max-height: 558px;
    width: 550px;
    height: 558px;
    text-align: center;
    padding: 101px 525px;
    
}
.hero-mic{
    position: relative;
    top: -270px;
}
.new{
    background-color: #00FF88;
    color: #1A0B2E;
    font-weight: 600;
    width: 75px;
    height: 38px;
    border: 0;
    border-radius: 1000px;
    padding: 1px 3px;
    position: relative;
    top: -520px;
    right: -350px;

}
.banner-content h3{
    font-size: 3.75rem;
    font-weight: 800;
    
}
.banner-content p{
    opacity: 0.8;
    padding-top: 8px;

}
.banner-btn {
    padding-top: 24px;
    display: flex;
    justify-content: center;
    gap: 8px;
}
.pos{
    position: relative;
    top: -165px;
}

.btn2{
    background: linear-gradient(47.64deg, rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1));
    display: flex;
    padding-left: 16px;
    gap: 8px;
    border: 0;
    border-radius: 10000px;
    font-weight: 600;

    
    
}
.btn2-transparent{
    background: transparent;
    border: 1px solid #00FF88;
    color: #00FF88;
    font-weight: 600;
}
.btn2 img{
    width: 20px;
    height: 20px;
    padding-top: 12.5px;
}
.btn2 p{
    padding: 15.5px 16px 15.5px 4px;

}

/* about section related styles */
.about{
    max-height: 648px;
    height: 648px;
    background-color: #1A0B2E;
}
.about-content{
    max-width: 1200px;
    width: 1200px;
    text-align: center;
    padding: 50px 200px 80px;    
}
.about-content h2{
    font-size: 3rem;
    font-weight: 800;
    padding-bottom: 16px;

}
.about-content p{
    line-height: 35px;
    opacity: 80%;
}

hr{
    width: 1200px;
    opacity: 10%;
    
    margin-left: auto;
    margin-right: auto;
}
.about-card{
    max-width: 1200px;
    width: 1200px;
    max-height: 94px;
    height: 94px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 80px;
    
    padding: 80px 200px 0px;
    
}
.about-card .card{
    
    width: 240px;
    height: 94px;
    text-align: center;
    
    
}
.card h3{
    font-size: 3rem;
    font-weight:900;
    padding-bottom: 16px;
}
.card h4{
    font-size: 1rem;
    opacity: 60%;
}
/* Choose section styles */
.choose{
    max-width: 1600px;
    width: 1600px;
    max-height: 1180px;
    height: 1180px;
    background-color: #230E3D;
    
}
.choose-title{
    text-align: center;
    padding-top: 120px;
    font-size: 2rem;
}
.choose-box{
    max-width: 1200px;
    max-height: 783px;
    width: 1200px;
    height: 783px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 30px;
    padding: 40px 200px 0;
}
.choose-box h3{
    font-size: 1.5rem;
    font-weight: 800;
}
.choose-box p{
    opacity: 60%;
}
.box{
    
    border-radius: 40px;
    
    background-color: rgba(56, 17, 101, 0.4) ; 
}
.box img{
    padding-top: 40px;
}
.box h3, .box p{
    padding-top: 16px;
}
.audio-box{
    grid-row: span 2;
    padding: 107.5px 40px 0 ;

}
.colum-span2{
    grid-column: span 2;
}
.interview-box{
    grid-column: span 2;
}
.resource-box, .interview-box, .colum-span2{
    padding: 40px 40px;
}

/* Features Section styles */
.features{
    max-height: 1276px;
    height: 1276px;
    
    background-color: #1A0B2E;
    
    
}
.feature-content{
    width: 1200px;
    height: 538px;
    display: grid;
    place-items: center;
    padding: 120px 200px 0;
    

}
.feature-content h2{
    font-size: 3rem;
    font-weight: 800;
    

}
.feature-card{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    /* gap: 40px; */
    gap: 40px;
    padding-top: 40px;
    
}
.video-content{
    max-width: 380px;
    width: 380px;
    max-height: 440px;
    height: 440px;
    
    background-color: #250D44;
    border-radius: 20px;
    

    
}

iframe{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.pad{
    padding: 24px;
    
}
.pad h3{
    font-size: 1.5rem;
    font-weight: 800;
}
.padp{
    opacity: 60%;
}
.pad p{
    
    padding-top: 8px;
}

/* host part  */
.host{
    width: 1200px;
    height: 378px;
    
    padding: 120px 200px;
}
.host h2{
    font-size: 3rem;
    font-weight: 800;
    display: flex;
    justify-content: center;
    padding-bottom: 40px;
}

.host-content{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    background-color: #250D44;
    height: 280px;
    
    border-radius: 40px;
}
.host-img{
    position: relative;
    top: 40px;
    left: 40px;
}
.host-data{
    grid-column: span 4;
    padding: 75px 40px 0;
}
.host-data h3{
    font-size: 2rem;
    font-weight: 800;
}
.host-data p{
    opacity: 60%;
    padding: 16px 0;
}
.host-data ul{
    list-style: none;
    gap: 10px;
    ;
}

/* footer section styles */
footer{
    max-width: 1600px;
    max-height: 412px;
    height: 412px;
    background: url(../assets/footer-bg.png);
    /* display: grid;
    place-items: center;
    text-align: center;
    padding-top: 10px; */
}
.footer-data{
    max-width: 1360px;
    width: 1360px;
    height: 172px;
    
    display: grid;
    place-items: center;
    padding: 120px 120px 0;
}
.footer-data > img{
    
    max-width: 410px;
    max-height: 60px;
}

.list {
    display: flex;
    gap: 40px;
    padding-top: 32px;
    
    
}
.list-item{
    list-style: none;
    
    
}
.list-item a{
    text-decoration: none;

}
.list-item {
    color: #00FF88;

}
.social-icon p{
    padding-top: 32px;
    opacity: 60%;
    text-align: center;

}
.list-item img{
    position: relative;
    top: 3px;
    

}
.color{
    opacity: 60%;
    font-weight: 500;
}
.hide{
    display: none;
}

/* Responsive media query */
@media screen and (max-width: 576px){

}







    
    






